extends ../puzzle

block title 
    |   Sudoku

block rules
    p
        |   Fill out the grid with the numbers 1 to 9.
        |   No number can appear in the same row, 
        |   column, or sub-square more than once.
