extends layout

block content
    #rules
        #rules-header
            h2 Rules
        block rules
    #puzzle
        block puzzle
    #additional
        block additional

block append scripts
    script(src='/bundle.js')

block append stylesheets
    != css('puzzle')
