extends layout

block content
    #rules
        #rules-header
            h2 Rules
        block rules
    #puzzle
    #additional
        block additional
    block puzzle-engine
        input(id='key-catcher')
        != js('puzzles/main')

block append scripts
    script(src='/bundle.js')

block append stylesheets
    != css('puzzle')
