html, body
    margin: 0
    padding: 0

body
    color: #445
    font-family: 'Droid Sans', sans-serif
    background-image: url('../img/backgrounds/tiny_grid.png')

#header
    background-color: #555561
    background-image: url('../img/backgrounds/random_grey_variations.png')
    box-shadow: 0 3px 2px #222
    padding: 1em

#header h1
    text-shadow: 2px 1px 2px #222
    font-family: 'Quando', serif
    color: #e0e0e9
    margin: 0

#content
    position: relative
    padding: 1em

