html, body {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-family: 'Droid Sans', sans-serif;
}

#header {
    background-color: #334;
    box-shadow: 0 0 5px #222;
    padding: 1em;
}

#header h1 {
    text-shadow: 0 0 3px #fff;
    font-family: Georgia, serif;
    color: #def;
    margin: 0;
}

#content {
    padding: 1em;
}

#rules {
    float: right;
    background-color: #eeeef3;
    border-radius: .5em;
    box-shadow: 0px 1px 3px #666;
    white-space: pre;

    p {
        padding: 1em;
    }
}

#rules-header {
    background-color: white;
    border-top: 1px black dotted;
    border-bottom: 1px black dotted;
    margin-top: 1em;
    padding: .2em 1em;

    h2 {
        margin: 0;
        text-shadow: 0 0 1px #333;
    }
}
